* {
    
}

header {
    background-color: rgb(121, 30, 121);
    box-shadow: 0px 0px 5px black;
    justify-content: end;
}

body header div h1 {
    text-align: center;
    font-size: calc(30px + .5vh);
    color: white;
    text-shadow: 5px 5px 5px black;
}

main div div h2 {
    font-size: calc(22px + .5vh);
    text-align: center;
}

.futurecast {
    background-color: rgb(151, 140, 140);
    color: white;
    margin-right: 5px;
}

.futDate {
    font-size: 20px;
}

main div div button {
    border-radius: 6px;
    font-size: calc(15px + .5vh);
    color: black;
    background-color: rgb(22, 213, 127);
}

main div div button:hover {
    background-color: rgb(21, 132, 82);
    color: white;
}

main div div button:active {
    background-color: rgb(7, 42, 26);
    color: white;
}

#curr-city {
    margin-bottom: 0px;
}

#curr-day {
    font-size: 20px;
    margin: 0px;
}

#curr-icon, .futIcon {
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

main div ul{
    padding-left: 0px;
}

.priorCity {
    font-size: 22px;
    color: white;
    text-align: center;
    background-color: rgb(113, 148, 118);
    margin-top: calc(10px + 1vh);
    border-radius: 5px;
    border: 2px groove rgb(4, 50, 30);
}

.priorCity:hover {
    cursor: pointer;
    background-color: rgb(149, 196, 156);
}

.priorCity:active {
    background-color: rgb(85, 111, 89);
}


@media screen and (max-width: 1200px) {
    header {
        justify-content: center;
    }

    #curr-weather-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 991px) {

    h4{ 
        text-align: center;
    }

    .futurecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    }
}